<!-- code by:Nidhi Singh-->
<!-- external css file -->

body {
  background-color:white;
}

th
 {
  padding:10px;
}
td{
padding:10px;
}
tr
{
font-size: 20px;
color:white;
}

 <!-- class style -->
.label_col
{
font-size:20px;
}

 <!-- id style -->
#he
{
 font-weight: bold;
font-size:20px;
 }
input[type=text]
 {
 width: 100%;
}
input
{
padding: 8px;
}
textarea {
  vertical-align: top;
}

background-color:#4169e1;/*royal blue*/
}
 table {
   margin: 0 auto;
}*/

#button1{
background-color: #4CAF50; 
cursor: pointer;
color: white;
border: none;
padding: 15px 32px;
text-align: center;
font-size: 16px;
}



.header {
   padding-top: 0.75rem;
   padding-right: 2rem;
    padding-left: 2rem;
     padding-bottom: 1.5rem;
  text-align: center;
  background: #4169E1;
  background-size: 100%;
  color: white;
  font-size: 10px;
}
.dropbtn {
  
  font-size: 20px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline;
  }
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.footer {
   text-align: center;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #202020;
   color: white;
   }
a {
color: white;
}
a:link {
  text-decoration: none;
  }
  a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:active {
  text-decoration: underline;
}
.col{
 column-count: 3;
 column-gap: 10px;
}

.test {
font-family: 'Cagliostro';font-size:20px;
}
